# Server Port
PORT=5000

# Security & Secrets
JWT_SECRETE_KEY=your_production_jwt_secret_here

# Initial Admin Credentials
Admin_Email=admin@aksharaaschool.edu.np
Admin_password=your_secure_admin_password
Admin_Name=Aksharaa Administrator

# Rate Limiting & Security
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=600
TRUST_PROXY=true
ALLOWED_ORIGINS=https://aksharaaschool.edu.np,https://dashboard.aksharaaschool.edu.np

# MongoDB Connection String
DataBase=mongodb+srv://<username>:<password>@cluster0.mongodb.net/akshara2026

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=dlzjltqep
CLOUDINARY_API_KEY=152216473787662
CLOUDINARY_API_SECRET=7U9tBU0hDRwG44xrrFOX9avaulk
CLOUDINARY_URL=cloudinary://152216473787662:7U9tBU0hDRwG44xrrFOX9avaulk@dlzjltqep

# Email SMTP Notification Credentials
EMAIL_USER=sahanirakesh877@gmail.com
EMAIL_PASS=your_app_specific_email_password
ADMIN_EMAIL=sahanirakesh877@gmail.com
